In [2]:
import pandas as pd

In [3]:
fLog = pd.read_csv('/Users/jordangalida/Desktop/School2019/IST451/Lab8/csv/20110413_VAST11MC2_firewall_log_1.csv')

In [4]:
fLog.head()

,Date/time,Syslog priority,Operation,Message code,Protocol,Source IP,Destination IP,Source hostname,Destination hostname,Source port,Destination port,Destination service,Direction,Connections built,Connections torn down
0,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4873,135,epmap,inbound,1,0
1,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4874,43025,43025_tcp,inbound,1,0
2,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4875,43032,43032_tcp,inbound,1,0
3,13/Apr/2011 08:52:52,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4875,43032,43032_tcp,inbound,0,1
4,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4876,135,epmap,inbound,1,0

In [7]:
fLog[fLog['Source IP'] == '192.168.2.133']

,Date/time,Syslog priority,Operation,Message code,Protocol,Source IP,Destination IP,Source hostname,Destination hostname,Source port,Destination port,Destination service,Direction,Connections built,Connections torn down
0,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4873,135,epmap,inbound,1,0
1,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4874,43025,43025_tcp,inbound,1,0
2,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4875,43032,43032_tcp,inbound,1,0
3,13/Apr/2011 08:52:52,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4875,43032,43032_tcp,inbound,0,1
4,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4876,135,epmap,inbound,1,0
5,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4877,43025,43025_tcp,inbound,1,0
6,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.14,(empty),(empty),4699,49155,49155_tcp,(empty),0,1
7,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4700,49158,49158_tcp,(empty),0,1
126,13/Apr/2011 08:53:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4873,135,epmap,inbound,0,1
127,13/Apr/2011 08:53:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4874,43025,43025_tcp,inbound,0,1
128,13/Apr/2011 08:53:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4876,135,epmap,inbound,0,1
129,13/Apr/2011 08:53:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4877,43025,43025_tcp,inbound,0,1
4903,13/Apr/2011 08:57:40,Info,Built,ASA-session-6-302015,UDP,192.168.2.133,192.168.1.2,(empty),(empty),54320,53,domain,inbound,1,0
4904,13/Apr/2011 08:57:40,Info,Built,ASA-session-6-302015,UDP,192.168.2.133,192.168.1.2,(empty),(empty),62394,53,domain,inbound,1,0
4915,13/Apr/2011 08:57:41,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4879,389,ldap,inbound,1,0
4916,13/Apr/2011 08:57:41,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4879,389,ldap,inbound,0,1
5066,13/Apr/2011 08:57:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4880,135,epmap,inbound,1,0
5067,13/Apr/2011 08:57:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4881,43025,43025_tcp,inbound,1,0
5068,13/Apr/2011 08:57:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4882,43032,43032_tcp,inbound,1,0
5069,13/Apr/2011 08:57:52,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4882,43032,43032_tcp,inbound,0,1
5070,13/Apr/2011 08:57:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4883,135,epmap,inbound,1,0
5071,13/Apr/2011 08:57:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4884,43025,43025_tcp,inbound,1,0
5570,13/Apr/2011 08:58:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4880,135,epmap,inbound,0,1
5571,13/Apr/2011 08:58:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4881,43025,43025_tcp,inbound,0,1
5572,13/Apr/2011 08:58:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4883,135,epmap,inbound,0,1
5573,13/Apr/2011 08:58:04,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4884,43025,43025_tcp,inbound,0,1
6758,13/Apr/2011 08:59:03,Info,Built,ASA-session-6-302015,UDP,192.168.2.133,192.168.1.2,(empty),(empty),59436,53,domain,inbound,1,0
6761,13/Apr/2011 08:59:03,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4885,445,microsoft-ds,inbound,1,0
6932,13/Apr/2011 08:59:15,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4885,445,microsoft-ds,inbound,0,1
7326,13/Apr/2011 08:59:41,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),54320,53,domain,inbound,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016689,13/Apr/2011 11:53:12,Info,Deny,ASA-session-6-106015,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4957,49158,49158_tcp,(empty),0,0
2043161,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4997,49158,49158_tcp,inbound,1,0
2043162,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4998,49158,49158_tcp,inbound,1,0
2043163,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302015,UDP,192.168.2.133,192.168.1.2,(empty),(empty),57763,53,domain,inbound,1,0
2043164,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.14,(empty),(empty),4999,49155,49155_tcp,inbound,1,0
2043196,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1025,49158,49158_tcp,inbound,1,0
2043197,13/Apr/2011 11:53:23,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4998,49158,49158_tcp,inbound,0,1
2043198,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302015,UDP,192.168.2.133,192.168.1.2,(empty),(empty),59725,53,domain,inbound,1,0
2043208,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),1026,135,epmap,inbound,1,0
2043217,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),1027,43032,43032_tcp,inbound,1,0
2043249,13/Apr/2011 11:53:23,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),1027,43032,43032_tcp,inbound,0,1
2043251,13/Apr/2011 11:53:23,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),1028,43032,43032_tcp,inbound,1,0
2043269,13/Apr/2011 11:53:23,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),1028,43032,43032_tcp,inbound,0,1
2070268,13/Apr/2011 11:53:34,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),1026,135,epmap,(empty),0,1
2070269,13/Apr/2011 11:53:34,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4997,49158,49158_tcp,(empty),0,1
2110628,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302015,UDP,192.168.2.133,192.168.1.2,(empty),(empty),1029,389,389_udp,inbound,1,0
2110736,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1030,135,epmap,inbound,1,0
2110741,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1031,49155,49155_tcp,inbound,1,0
2110744,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1032,49158,49158_tcp,inbound,1,0
2110754,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1033,389,ldap,inbound,1,0
2110755,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1034,389,ldap,inbound,1,0
2110758,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1035,445,microsoft-ds,inbound,1,0
2110760,13/Apr/2011 11:53:51,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1036,139,netbios-ssn,inbound,1,0
2110798,13/Apr/2011 11:53:51,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1033,389,ldap,inbound,0,1
2110799,13/Apr/2011 11:53:51,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1034,389,ldap,inbound,0,1
2137603,13/Apr/2011 11:54:02,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1035,445,microsoft-ds,(empty),0,1
2185291,13/Apr/2011 11:54:21,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1032,49158,49158_tcp,(empty),0,1
2185292,13/Apr/2011 11:54:21,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1030,135,epmap,(empty),0,1
2185490,13/Apr/2011 11:54:21,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1036,139,netbios-ssn,(empty),0,1
2190434,13/Apr/2011 11:54:23,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),1031,49155,49155_tcp,(empty),0,1

In [8]:
from collections import Counter

In [57]:
from numpy import nan as NA

In [12]:
fLog['Source IP'].value_counts()

10.200.150.206    486719
10.200.150.209    473284
10.200.150.201    470965
10.200.150.207    422928
10.200.150.208    359142
192.168.1.6        46809
(empty)            10369
192.168.1.2         2211
192.168.1.14        2056
192.168.2.46        1890
192.168.2.98        1610
192.168.2.64        1350
192.168.2.137       1272
192.168.2.95        1251
192.168.2.14        1193
192.168.2.121       1182
192.168.2.71        1169
192.168.2.61        1154
192.168.2.34        1121
192.168.2.97         998
192.168.2.127        937
192.168.2.85         798
192.168.2.106        747
192.168.2.11         687
192.168.2.96         685
192.168.2.138        596
192.168.2.13         560
192.168.2.156        557
192.168.2.16         557
192.168.2.90         555
                   ...
192.168.2.148        156
192.168.2.58         154
192.168.2.151        149
192.168.2.145        146
192.168.2.173        144
192.168.2.93         138
192.168.2.129        136
192.168.2.143        133
192.168.2.62         132
192.168.2.44         130
192.168.2.144        129
192.168.2.39         129
192.168.2.152        128
192.168.2.142        128
192.168.2.20         122
192.168.2.48         117
10.200.150.2         113
192.168.2.32         111
192.168.2.66         109
192.168.2.132        108
192.168.2.24         104
192.168.2.149        103
192.168.2.155         99
192.168.2.130         97
192.168.2.134         95
172.20.1.5            93
192.168.2.171         88
192.168.2.55          84
192.168.2.135         69
192.168.1.1           11
Name: Source IP, Length: 165, dtype: int64

In [18]:
df = fLog['Source IP'][fLog['Source IP'] ==  '172.20.1.5']

In [19]:
df.value_counts()

172.20.1.5    93
Name: Source IP, dtype: int64

In [17]:
df

,Date/time,Syslog priority,Operation,Message code,Protocol,Source IP,Destination IP,Source hostname,Destination hostname,Source port,Destination port,Destination service,Direction,Connections built,Connections torn down
443,13/Apr/2011 08:53:32,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50707,53,domain,inbound,1,0
444,13/Apr/2011 08:53:32,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63160,445,microsoft-ds,inbound,1,0
576,13/Apr/2011 08:53:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63160,445,microsoft-ds,inbound,0,1
2747,13/Apr/2011 08:55:33,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50707,53,domain,inbound,0,1
8282,13/Apr/2011 09:00:40,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50708,389,389_udp,inbound,1,0
10213,13/Apr/2011 09:02:42,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50708,389,389_udp,(empty),0,1
13785,13/Apr/2011 09:05:59,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50709,389,389_udp,inbound,1,0
15808,13/Apr/2011 09:08:00,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50709,389,389_udp,(empty),0,1
16548,13/Apr/2011 09:08:32,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63161,445,microsoft-ds,inbound,1,0
16696,13/Apr/2011 09:08:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63161,445,microsoft-ds,inbound,0,1
32416,13/Apr/2011 09:23:32,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63162,445,microsoft-ds,inbound,1,0
32540,13/Apr/2011 09:23:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63162,445,microsoft-ds,inbound,0,1
48052,13/Apr/2011 09:38:32,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63163,445,microsoft-ds,inbound,1,0
48450,13/Apr/2011 09:38:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63163,445,microsoft-ds,inbound,0,1
61907,13/Apr/2011 09:46:50,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),50710,389,389_udp,inbound,1,0
61909,13/Apr/2011 09:46:50,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63164,135,epmap,inbound,1,0
61910,13/Apr/2011 09:46:50,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63165,49155,49155_tcp,inbound,1,0
61912,13/Apr/2011 09:46:50,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),59229,53,domain,inbound,1,0
61913,13/Apr/2011 09:46:50,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),61333,53,domain,inbound,1,0
61939,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63166,389,ldap,inbound,1,0
61940,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),61334,389,389_udp,inbound,1,0
61941,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.14,(empty),(empty),61335,389,389_udp,inbound,1,0
61942,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63167,88,kerberos,inbound,1,0
61943,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.14,(empty),(empty),63168,389,ldap,inbound,1,0
61944,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),60376,53,domain,inbound,1,0
61945,13/Apr/2011 09:46:53,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63169,88,kerberos,inbound,1,0
61946,13/Apr/2011 09:46:53,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63167,88,kerberos,inbound,0,1
61947,13/Apr/2011 09:46:53,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63169,88,kerberos,inbound,0,1
61948,13/Apr/2011 09:46:53,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.14,(empty),(empty),63168,389,ldap,inbound,0,1
61949,13/Apr/2011 09:46:53,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63166,389,ldap,inbound,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108684,13/Apr/2011 11:23:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63176,445,microsoft-ds,inbound,0,1
111527,13/Apr/2011 11:37:53,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),51920,389,389_udp,inbound,1,0
111528,13/Apr/2011 11:37:53,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63177,135,epmap,inbound,1,0
111529,13/Apr/2011 11:37:53,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63178,49155,49155_tcp,inbound,1,0
111530,13/Apr/2011 11:37:54,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),55033,53,domain,inbound,1,0
111531,13/Apr/2011 11:37:54,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),51088,53,domain,inbound,1,0
111532,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63179,389,ldap,inbound,1,0
111533,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),51089,389,389_udp,inbound,1,0
111534,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.14,(empty),(empty),51090,389,389_udp,inbound,1,0
111535,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63180,88,kerberos,inbound,1,0
111536,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.14,(empty),(empty),63181,389,ldap,inbound,1,0
111537,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),54286,53,domain,inbound,1,0
111538,13/Apr/2011 11:37:56,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63182,88,kerberos,inbound,1,0
111539,13/Apr/2011 11:37:56,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63180,88,kerberos,inbound,0,1
111540,13/Apr/2011 11:37:56,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63182,88,kerberos,inbound,0,1
111541,13/Apr/2011 11:37:56,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.14,(empty),(empty),63181,389,ldap,inbound,0,1
111542,13/Apr/2011 11:37:56,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63179,389,ldap,inbound,0,1
111599,13/Apr/2011 11:38:08,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63177,135,epmap,inbound,0,1
111660,13/Apr/2011 11:38:33,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63183,445,microsoft-ds,inbound,1,0
111674,13/Apr/2011 11:38:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63183,445,microsoft-ds,inbound,0,1
111824,13/Apr/2011 11:39:28,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63178,49155,49155_tcp,inbound,0,1
112497,13/Apr/2011 11:39:55,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),51920,389,389_udp,inbound,0,1
112498,13/Apr/2011 11:39:55,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),55033,53,domain,inbound,0,1
112499,13/Apr/2011 11:39:55,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),51088,53,domain,inbound,0,1
113636,13/Apr/2011 11:39:57,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),51089,389,389_udp,inbound,0,1
113637,13/Apr/2011 11:39:57,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.14,(empty),(empty),51090,389,389_udp,inbound,0,1
114079,13/Apr/2011 11:39:58,Info,Teardown,ASA-session-6-302016,UDP,172.20.1.5,192.168.1.2,(empty),(empty),54286,53,domain,inbound,0,1
2065710,13/Apr/2011 11:53:33,Info,Built,ASA-session-6-302015,UDP,172.20.1.5,192.168.1.2,(empty),(empty),62385,53,domain,inbound,1,0
2065730,13/Apr/2011 11:53:33,Info,Built,ASA-session-6-302013,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63184,445,microsoft-ds,inbound,1,0
2093077,13/Apr/2011 11:53:43,Info,Teardown,ASA-session-6-302014,TCP,172.20.1.5,192.168.1.2,(empty),(empty),63184,445,microsoft-ds,(empty),0,1

In [23]:
fLog[fLog['Destination port'] == '88']

,Date/time,Syslog priority,Operation,Message code,Protocol,Source IP,Destination IP,Source hostname,Destination hostname,Source port,Destination port,Destination service,Direction,Connections built,Connections torn down
184,13/Apr/2011 08:53:16,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.32,192.168.1.2,(empty),(empty),1308,88,kerberos,(empty),0,1
186,13/Apr/2011 08:53:16,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.32,192.168.1.2,(empty),(empty),1312,88,kerberos,(empty),0,1
209,13/Apr/2011 08:53:17,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.120,192.168.1.2,(empty),(empty),1904,88,kerberos,(empty),0,1
210,13/Apr/2011 08:53:17,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.120,192.168.1.2,(empty),(empty),1905,88,kerberos,(empty),0,1
211,13/Apr/2011 08:53:17,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.120,192.168.1.2,(empty),(empty),1908,88,kerberos,(empty),0,1
212,13/Apr/2011 08:53:17,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.120,192.168.1.2,(empty),(empty),1912,88,kerberos,(empty),0,1
314,13/Apr/2011 08:53:25,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.92,192.168.1.14,(empty),(empty),1885,88,kerberos,(empty),0,1
315,13/Apr/2011 08:53:25,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.92,192.168.1.14,(empty),(empty),1886,88,kerberos,(empty),0,1
317,13/Apr/2011 08:53:25,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.92,192.168.1.14,(empty),(empty),1891,88,kerberos,(empty),0,1
318,13/Apr/2011 08:53:25,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.92,192.168.1.14,(empty),(empty),1897,88,kerberos,(empty),0,1
354,13/Apr/2011 08:53:27,Info,Built,ASA-session-6-302015,UDP,192.168.2.118,192.168.1.2,(empty),(empty),2167,88,kerberos,inbound,1,0
356,13/Apr/2011 08:53:27,Info,Built,ASA-session-6-302015,UDP,192.168.2.118,192.168.1.2,(empty),(empty),2169,88,kerberos,inbound,1,0
360,13/Apr/2011 08:53:27,Info,Built,ASA-session-6-302015,UDP,192.168.2.118,192.168.1.2,(empty),(empty),2172,88,kerberos,inbound,1,0
369,13/Apr/2011 08:53:28,Info,Built,ASA-session-6-302015,UDP,192.168.2.136,192.168.1.14,(empty),(empty),4512,88,kerberos,inbound,1,0
378,13/Apr/2011 08:53:28,Info,Built,ASA-session-6-302015,UDP,192.168.2.136,192.168.1.14,(empty),(empty),4519,88,kerberos,inbound,1,0
382,13/Apr/2011 08:53:28,Info,Built,ASA-session-6-302015,UDP,192.168.2.136,192.168.1.14,(empty),(empty),4522,88,kerberos,inbound,1,0
632,13/Apr/2011 08:53:48,Info,Built,ASA-session-6-302015,UDP,192.168.2.150,192.168.1.14,(empty),(empty),4225,88,kerberos,inbound,1,0
1084,13/Apr/2011 08:53:57,Info,Built,ASA-session-6-302015,UDP,192.168.2.136,192.168.1.14,(empty),(empty),4525,88,kerberos,inbound,1,0
1519,13/Apr/2011 08:54:24,Info,Built,ASA-session-6-302015,UDP,192.168.2.141,192.168.1.2,(empty),(empty),1150,88,kerberos,inbound,1,0
1520,13/Apr/2011 08:54:24,Info,Built,ASA-session-6-302015,UDP,192.168.2.141,192.168.1.2,(empty),(empty),1149,88,kerberos,inbound,1,0
1579,13/Apr/2011 08:54:28,Info,Built,ASA-session-6-302015,UDP,192.168.2.60,192.168.1.14,(empty),(empty),4377,88,kerberos,inbound,1,0
1765,13/Apr/2011 08:54:39,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.108,192.168.1.2,(empty),(empty),1122,88,kerberos,(empty),0,1
1766,13/Apr/2011 08:54:39,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.108,192.168.1.2,(empty),(empty),1123,88,kerberos,(empty),0,1
1768,13/Apr/2011 08:54:39,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.108,192.168.1.2,(empty),(empty),1127,88,kerberos,(empty),0,1
1769,13/Apr/2011 08:54:39,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.108,192.168.1.2,(empty),(empty),1131,88,kerberos,(empty),0,1
1856,13/Apr/2011 08:54:45,Info,Built,ASA-session-6-302015,UDP,192.168.2.145,192.168.1.14,(empty),(empty),4939,88,kerberos,inbound,1,0
1868,13/Apr/2011 08:54:45,Info,Built,ASA-session-6-302015,UDP,192.168.2.145,192.168.1.14,(empty),(empty),4941,88,kerberos,inbound,1,0
1872,13/Apr/2011 08:54:45,Info,Built,ASA-session-6-302015,UDP,192.168.2.145,192.168.1.14,(empty),(empty),4945,88,kerberos,inbound,1,0
1887,13/Apr/2011 08:54:46,Info,Built,ASA-session-6-302015,UDP,192.168.2.57,192.168.1.14,(empty),(empty),4868,88,kerberos,inbound,1,0
1891,13/Apr/2011 08:54:46,Info,Built,ASA-session-6-302015,UDP,192.168.2.57,192.168.1.14,(empty),(empty),4872,88,kerberos,inbound,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014770,13/Apr/2011 11:53:12,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.46,192.168.1.2,(empty),(empty),3651,88,kerberos,(empty),0,1
2033486,13/Apr/2011 11:53:19,Info,Built,ASA-session-6-302015,UDP,192.168.2.102,192.168.1.2,(empty),(empty),1246,88,kerberos,inbound,1,0
2034563,13/Apr/2011 11:53:19,Info,Built,ASA-session-6-302015,UDP,192.168.2.102,192.168.1.2,(empty),(empty),1254,88,kerberos,inbound,1,0
2059926,13/Apr/2011 11:53:30,Info,Built,ASA-session-6-302015,UDP,192.168.2.86,192.168.1.14,(empty),(empty),1235,88,kerberos,inbound,1,0
2060174,13/Apr/2011 11:53:30,Info,Built,ASA-session-6-302015,UDP,192.168.2.86,192.168.1.14,(empty),(empty),1242,88,kerberos,inbound,1,0
2116485,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3837,88,kerberos,(empty),0,1
2116486,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3836,88,kerberos,(empty),0,1
2116487,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3838,88,kerberos,(empty),0,1
2116488,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3839,88,kerberos,(empty),0,1
2116489,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3842,88,kerberos,(empty),0,1
2116490,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3843,88,kerberos,(empty),0,1
2116492,13/Apr/2011 11:53:54,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.117,192.168.1.14,(empty),(empty),3847,88,kerberos,(empty),0,1
2130093,13/Apr/2011 11:53:58,Info,Built,ASA-session-6-302015,UDP,192.168.2.126,192.168.1.2,(empty),(empty),3466,88,kerberos,inbound,1,0
2147669,13/Apr/2011 11:54:06,Info,Built,ASA-session-6-302015,UDP,192.168.2.70,192.168.1.2,(empty),(empty),1570,88,kerberos,inbound,1,0
2147672,13/Apr/2011 11:54:06,Info,Built,ASA-session-6-302015,UDP,192.168.2.70,192.168.1.2,(empty),(empty),1571,88,kerberos,inbound,1,0
2172589,13/Apr/2011 11:54:16,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.52,192.168.1.2,(empty),(empty),1860,88,kerberos,(empty),0,1
2172590,13/Apr/2011 11:54:16,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.52,192.168.1.2,(empty),(empty),1861,88,kerberos,(empty),0,1
2205994,13/Apr/2011 11:54:29,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.91,192.168.1.14,(empty),(empty),4243,88,kerberos,(empty),0,1
2236920,13/Apr/2011 11:54:42,Info,Built,ASA-session-6-302015,UDP,192.168.2.53,192.168.1.2,(empty),(empty),3090,88,kerberos,inbound,1,0
2236995,13/Apr/2011 11:54:42,Info,Built,ASA-session-6-302015,UDP,192.168.2.53,192.168.1.2,(empty),(empty),3091,88,kerberos,inbound,1,0
2287217,13/Apr/2011 11:55:02,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.115,192.168.1.14,(empty),(empty),4220,88,kerberos,(empty),0,1
2287218,13/Apr/2011 11:55:02,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.115,192.168.1.14,(empty),(empty),4222,88,kerberos,(empty),0,1
2287220,13/Apr/2011 11:55:02,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.115,192.168.1.14,(empty),(empty),4226,88,kerberos,(empty),0,1
2301507,13/Apr/2011 11:55:08,Info,Built,ASA-session-6-302015,UDP,192.168.2.113,192.168.1.14,(empty),(empty),4040,88,kerberos,inbound,1,0
2302671,13/Apr/2011 11:55:09,Info,Built,ASA-session-6-302015,UDP,192.168.2.50,192.168.1.2,(empty),(empty),2346,88,kerberos,inbound,1,0
2302672,13/Apr/2011 11:55:09,Info,Built,ASA-session-6-302013,TCP,192.168.2.50,192.168.1.2,(empty),(empty),2347,88,kerberos,inbound,1,0
2302702,13/Apr/2011 11:55:09,Info,Built,ASA-session-6-302015,UDP,192.168.2.50,192.168.1.2,(empty),(empty),2348,88,kerberos,inbound,1,0
2302703,13/Apr/2011 11:55:09,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.50,192.168.1.2,(empty),(empty),2347,88,kerberos,inbound,0,1
2302704,13/Apr/2011 11:55:09,Info,Built,ASA-session-6-302015,UDP,192.168.2.50,192.168.1.2,(empty),(empty),2349,88,kerberos,inbound,1,0
2302758,13/Apr/2011 11:55:09,Info,Built,ASA-session-6-302015,UDP,192.168.2.50,192.168.1.2,(empty),(empty),2353,88,kerberos,inbound,1,0

In [24]:
df = fLog[['Source IP', 'Destination port']][(fLog['Source IP'] ==  '172.20.1.5')&(fLog['Destination port'] == '88')]

In [25]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [26]:
df

         Source IP Destination port
61942   172.20.1.5               88
61945   172.20.1.5               88
61946   172.20.1.5               88
61947   172.20.1.5               88
111535  172.20.1.5               88
111538  172.20.1.5               88
111539  172.20.1.5               88
111540  172.20.1.5               88

In [29]:
df['Source IP']

61942     172.20.1.5
61945     172.20.1.5
61946     172.20.1.5
61947     172.20.1.5
111535    172.20.1.5
111538    172.20.1.5
111539    172.20.1.5
111540    172.20.1.5
Name: Source IP, dtype: object

         Source IP Destination port
61942   172.20.1.5               88
61945   172.20.1.5               88
61946   172.20.1.5               88
61947   172.20.1.5               88
111535  172.20.1.5               88
111538  172.20.1.5               88
111539  172.20.1.5               88
111540  172.20.1.5               88 8

In [30]:
df = fLog[['Source IP', 'Destination port']][(fLog['Source IP'] ==  '172.20.1.5')&(fLog['Destination port'] == '80')]

In [32]:
len(df)

0

In [33]:
 fLog = pd.read_csv('/Users/jordangalida/Desktop/School2019/IST451/Lab8/csv/20110413_VAST11MC2_firewall_log_1.csv')
 
 fLog1 = pd.read_csv('/Users/jordangalida/Desktop/School2019/IST451/Lab8/csv/20110413_VAST11MC2_firewall_log_2.csv')
 
 fLog2 = pd.read_csv('/Users/jordangalida/Desktop/School2019/IST451/Lab8/csv/20110413_VAST11MC2_firewall_log_3.csv')
 
 fLog3 = pd.read_csv('/Users/jordangalida/Desktop/School2019/IST451/Lab8/csv/20110413_VAST11MC2_firewall_log_4.csv')
 
 fLog4 = pd.read_csv('/Users/jordangalida/Desktop/School2019/IST451/Lab8/csv/20110413_VAST11MC2_firewall_log_5.csv')
 
 concat = pd.concat([fLog,fLog1,fLog2,fLog3,fLog4])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [36]:
concat.shape

(10452110, 15)

In [37]:
df = concat['Source IP'][concat['Source IP'] ==  '172.20.1.5']

In [38]:
df.value_counts()

172.20.1.5    793
Name: Source IP, dtype: int64

In [39]:
df = concat[['Source IP', 'Destination port']][(concat['Source IP'] ==  '172.20.1.5')&(concat['Destination port'] == '80')]

In [41]:
len(df)

0

In [45]:
concat[concat['Destination IP'] == '80']

Empty DataFrame
Columns: [Date/time, Syslog priority, Operation, Message code, Protocol, Source IP, Destination IP, Source hostname, Destination hostname, Source port, Destination port, Destination service, Direction, Connections built, Connections torn down]
Index: []

In [48]:
concat.columns.tolist()

['Date/time',
 'Syslog priority',
 'Operation',
 'Message code',
 'Protocol',
 'Source IP',
 'Destination IP',
 'Source hostname',
 'Destination hostname',
 'Source port',
 'Destination port',
 'Destination service',
 'Direction',
 'Connections built',
 'Connections torn down']

In [53]:
concat['Date/time']

0          13/Apr/2011 08:52:52
1          13/Apr/2011 08:52:52
2          13/Apr/2011 08:52:52
3          13/Apr/2011 08:52:52
4          13/Apr/2011 08:52:52
5          13/Apr/2011 08:52:52
6          13/Apr/2011 08:52:53
7          13/Apr/2011 08:52:53
8          13/Apr/2011 08:52:53
9          13/Apr/2011 08:52:53
10         13/Apr/2011 08:52:53
11         13/Apr/2011 08:52:53
12         13/Apr/2011 08:52:55
13         13/Apr/2011 08:52:55
14         13/Apr/2011 08:52:55
15         13/Apr/2011 08:52:55
16         13/Apr/2011 08:52:55
17         13/Apr/2011 08:52:55
18         13/Apr/2011 08:52:55
19         13/Apr/2011 08:52:55
20         13/Apr/2011 08:52:55
21         13/Apr/2011 08:52:55
22         13/Apr/2011 08:52:56
23         13/Apr/2011 08:52:56
24         13/Apr/2011 08:52:56
25         13/Apr/2011 08:52:56
26         13/Apr/2011 08:52:56
27         13/Apr/2011 08:52:56
28         13/Apr/2011 08:52:56
29         13/Apr/2011 08:52:56
                   ...
1155741    14/Apr/2011 07:59:52
1155742    14/Apr/2011 07:59:52
1155743    14/Apr/2011 07:59:52
1155744    14/Apr/2011 07:59:52
1155745    14/Apr/2011 07:59:52
1155746    14/Apr/2011 07:59:52
1155747    14/Apr/2011 07:59:52
1155748    14/Apr/2011 07:59:52
1155749    14/Apr/2011 07:59:52
1155750    14/Apr/2011 07:59:52
1155751    14/Apr/2011 07:59:52
1155752    14/Apr/2011 07:59:53
1155753    14/Apr/2011 07:59:53
1155754    14/Apr/2011 07:59:53
1155755    14/Apr/2011 07:59:53
1155756    14/Apr/2011 07:59:53
1155757    14/Apr/2011 07:59:53
1155758    14/Apr/2011 07:59:53
1155759    14/Apr/2011 07:59:53
1155760    14/Apr/2011 07:59:53
1155761    14/Apr/2011 07:59:53
1155762    14/Apr/2011 07:59:53
1155763    14/Apr/2011 07:59:53
1155764    14/Apr/2011 07:59:53
1155765    14/Apr/2011 07:59:53
1155766    14/Apr/2011 07:59:53
1155767    14/Apr/2011 07:59:53
1155768    14/Apr/2011 07:59:53
1155769    14/Apr/2011 07:59:53
1155770    14/Apr/2011 07:59:53
Name: Date/time, Length: 10452110, dtype: object

In [58]:
concat.dropna()

,Date/time,Syslog priority,Operation,Message code,Protocol,Source IP,Destination IP,Source hostname,Destination hostname,Source port,Destination port,Destination service,Direction,Connections built,Connections torn down
0,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4873,135,epmap,inbound,1,0
1,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4874,43025,43025_tcp,inbound,1,0
2,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4875,43032,43032_tcp,inbound,1,0
3,13/Apr/2011 08:52:52,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4875,43032,43032_tcp,inbound,0,1
4,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4876,135,epmap,inbound,1,0
5,13/Apr/2011 08:52:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.133,192.168.1.6,(empty),(empty),4877,43025,43025_tcp,inbound,1,0
6,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.14,(empty),(empty),4699,49155,49155_tcp,(empty),0,1
7,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.133,192.168.1.2,(empty),(empty),4700,49158,49158_tcp,(empty),0,1
8,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.126,192.168.1.2,(empty),(empty),3337,49155,49155_tcp,(empty),0,1
9,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.16,192.168.1.6,(empty),(empty),1097,135,epmap,(empty),0,1
10,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.16,192.168.1.6,(empty),(empty),1099,135,epmap,(empty),0,1
11,13/Apr/2011 08:52:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.16,192.168.1.6,(empty),(empty),1100,43025,43025_tcp,(empty),0,1
12,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.75,192.168.1.6,(empty),(empty),1048,135,epmap,(empty),0,1
13,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.75,192.168.1.6,(empty),(empty),1049,43025,43025_tcp,(empty),0,1
14,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.75,192.168.1.6,(empty),(empty),1051,135,epmap,(empty),0,1
15,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.75,192.168.1.6,(empty),(empty),1052,43025,43025_tcp,(empty),0,1
16,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.64,192.168.1.6,(empty),(empty),1694,135,epmap,(empty),0,1
17,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.64,192.168.1.6,(empty),(empty),1696,43025,43025_tcp,(empty),0,1
18,13/Apr/2011 08:52:55,Info,Built,ASA-session-6-302013,TCP,192.168.2.85,192.168.1.6,(empty),(empty),1440,43032,43032_tcp,inbound,1,0
19,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.85,192.168.1.6,(empty),(empty),1440,43032,43032_tcp,inbound,0,1
20,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.114,192.168.1.2,(empty),(empty),4083,49158,49158_tcp,(empty),0,1
21,13/Apr/2011 08:52:55,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.114,192.168.1.14,(empty),(empty),4085,49155,49155_tcp,(empty),0,1
22,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.95,192.168.1.6,(empty),(empty),1703,135,epmap,(empty),0,1
23,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.95,192.168.1.6,(empty),(empty),1705,43025,43025_tcp,(empty),0,1
24,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.88,192.168.1.6,(empty),(empty),4670,135,epmap,(empty),0,1
25,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.88,192.168.1.6,(empty),(empty),4671,43025,43025_tcp,(empty),0,1
26,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.88,192.168.1.6,(empty),(empty),4673,135,epmap,(empty),0,1
27,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.88,192.168.1.6,(empty),(empty),4674,43025,43025_tcp,(empty),0,1
28,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.46,192.168.1.6,(empty),(empty),2738,135,epmap,(empty),0,1
29,13/Apr/2011 08:52:56,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.46,192.168.1.6,(empty),(empty),2740,43025,43025_tcp,(empty),0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155741,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.146,(empty),(empty),60250,2034,2034_udp,inbound,1,0
1155742,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.139,(empty),(empty),60251,4283,4283_udp,inbound,1,0
1155743,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.139,(empty),(empty),60252,4283,4283_udp,inbound,1,0
1155744,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.63,(empty),(empty),60253,2403,2403_udp,inbound,1,0
1155745,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.63,(empty),(empty),60254,2403,2403_udp,inbound,1,0
1155746,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.50,(empty),(empty),60255,1426,1426_udp,inbound,1,0
1155747,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302015,UDP,192.168.1.6,192.168.2.50,(empty),(empty),60256,1426,1426_udp,inbound,1,0
1155748,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.82,192.168.1.6,(empty),(empty),4755,135,epmap,inbound,1,0
1155749,14/Apr/2011 07:59:52,Info,Built,ASA-session-6-302013,TCP,192.168.2.82,192.168.1.6,(empty),(empty),4756,43025,43025_tcp,inbound,1,0
1155750,14/Apr/2011 07:59:52,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.96,192.168.1.6,(empty),(empty),1640,135,epmap,inbound,0,1
1155751,14/Apr/2011 07:59:52,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.96,192.168.1.6,(empty),(empty),1642,43025,43025_tcp,inbound,0,1
1155752,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),49597,53,domain,(empty),0,1
1155753,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),52761,53,domain,(empty),0,1
1155754,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),54239,53,domain,(empty),0,1
1155755,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),123,123,ntp,(empty),0,1
1155756,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),59824,53,domain,(empty),0,1
1155757,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),51782,53,domain,(empty),0,1
1155758,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),61868,53,domain,(empty),0,1
1155759,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.2.133,192.168.1.2,(empty),(empty),62029,53,domain,(empty),0,1
1155760,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.1.6,192.168.2.83,(empty),(empty),60003,3900,3900_udp,(empty),0,1
1155761,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.1.6,192.168.2.95,(empty),(empty),60004,4594,4594_udp,(empty),0,1
1155762,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.1.6,192.168.2.83,(empty),(empty),60005,3900,3900_udp,(empty),0,1
1155763,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.1.6,192.168.2.95,(empty),(empty),60006,4594,4594_udp,(empty),0,1
1155764,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.1.6,192.168.2.133,(empty),(empty),60007,4111,4111_udp,(empty),0,1
1155765,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302016,UDP,192.168.1.6,192.168.2.133,(empty),(empty),60008,4111,4111_udp,(empty),0,1
1155766,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302021,ICMP,(empty),(empty),(empty),(empty),(empty),(empty),(empty)_icmp,(empty),0,1
1155767,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302021,ICMP,(empty),(empty),(empty),(empty),(empty),(empty),(empty)_icmp,(empty),0,1
1155768,14/Apr/2011 07:59:53,Info,Deny,ASA-session-6-106015,TCP,192.168.1.6,192.168.2.93,(empty),(empty),43025,1139,1139_tcp,(empty),0,0
1155769,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.26,192.168.1.6,(empty),(empty),4654,135,epmap,inbound,0,1
1155770,14/Apr/2011 07:59:53,Info,Teardown,ASA-session-6-302014,TCP,192.168.2.26,192.168.1.6,(empty),(empty),4656,43025,43025_tcp,inbound,0,1

In [62]:
fIP = concat[['Date/time','Source IP']][concat['Source IP'] == '172.20.1.5']

In [63]:
fIP

                    Date/time   Source IP
443      13/Apr/2011 08:53:32  172.20.1.5
444      13/Apr/2011 08:53:32  172.20.1.5
576      13/Apr/2011 08:53:43  172.20.1.5
2747     13/Apr/2011 08:55:33  172.20.1.5
8282     13/Apr/2011 09:00:40  172.20.1.5
10213    13/Apr/2011 09:02:42  172.20.1.5
13785    13/Apr/2011 09:05:59  172.20.1.5
15808    13/Apr/2011 09:08:00  172.20.1.5
16548    13/Apr/2011 09:08:32  172.20.1.5
16696    13/Apr/2011 09:08:43  172.20.1.5
32416    13/Apr/2011 09:23:32  172.20.1.5
32540    13/Apr/2011 09:23:43  172.20.1.5
48052    13/Apr/2011 09:38:32  172.20.1.5
48450    13/Apr/2011 09:38:43  172.20.1.5
61907    13/Apr/2011 09:46:50  172.20.1.5
61909    13/Apr/2011 09:46:50  172.20.1.5
61910    13/Apr/2011 09:46:50  172.20.1.5
61912    13/Apr/2011 09:46:50  172.20.1.5
61913    13/Apr/2011 09:46:50  172.20.1.5
61939    13/Apr/2011 09:46:53  172.20.1.5
61940    13/Apr/2011 09:46:53  172.20.1.5
61941    13/Apr/2011 09:46:53  172.20.1.5
61942    13/Apr/2011 09:46:53  172.20.1.5
61943    13/Apr/2011 09:46:53  172.20.1.5
61944    13/Apr/2011 09:46:53  172.20.1.5
61945    13/Apr/2011 09:46:53  172.20.1.5
61946    13/Apr/2011 09:46:53  172.20.1.5
61947    13/Apr/2011 09:46:53  172.20.1.5
61948    13/Apr/2011 09:46:53  172.20.1.5
61949    13/Apr/2011 09:46:53  172.20.1.5
...                       ...         ...
1086965  14/Apr/2011 06:13:40  172.20.1.5
1088947  14/Apr/2011 06:23:37  172.20.1.5
1088976  14/Apr/2011 06:23:49  172.20.1.5
1089542  14/Apr/2011 06:26:45  172.20.1.5
1089867  14/Apr/2011 06:28:47  172.20.1.5
1091861  14/Apr/2011 06:38:37  172.20.1.5
1091904  14/Apr/2011 06:38:49  172.20.1.5
1094682  14/Apr/2011 06:53:37  172.20.1.5
1094683  14/Apr/2011 06:53:37  172.20.1.5
1094717  14/Apr/2011 06:53:49  172.20.1.5
1095036  14/Apr/2011 06:55:05  172.20.1.5
1095186  14/Apr/2011 06:55:38  172.20.1.5
1095452  14/Apr/2011 06:57:06  172.20.1.5
1097149  14/Apr/2011 07:07:14  172.20.1.5
1097169  14/Apr/2011 07:07:18  172.20.1.5
1097409  14/Apr/2011 07:08:37  172.20.1.5
1097484  14/Apr/2011 07:08:49  172.20.1.5
1097719  14/Apr/2011 07:09:19  172.20.1.5
1097722  14/Apr/2011 07:09:19  172.20.1.5
1097953  14/Apr/2011 07:09:55  172.20.1.5
1097954  14/Apr/2011 07:09:55  172.20.1.5
1101391  14/Apr/2011 07:23:37  172.20.1.5
1101459  14/Apr/2011 07:23:49  172.20.1.5
1105085  14/Apr/2011 07:38:37  172.20.1.5
1105126  14/Apr/2011 07:38:49  172.20.1.5
1109034  14/Apr/2011 07:53:37  172.20.1.5
1109035  14/Apr/2011 07:53:37  172.20.1.5
1110353  14/Apr/2011 07:53:50  172.20.1.5
1126218  14/Apr/2011 07:55:38  172.20.1.5
1154593  14/Apr/2011 07:59:46  172.20.1.5

[793 rows x 2 columns]

In [64]:
len(fIP) - fIP.nunique()

Date/time    352
Source IP    792
dtype: int64

In [76]:
concat['Date/time'] = pd.to_datetime(concat['Date/time'])

In [90]:
fIP['Date/time'] = pd.to_datetime(fIP['Date/time'])

TypeError: <class 'datetime.time'> is not convertible to datetime

In [94]:
times = pd.to_datetime(fIP.timestamp_col)

AttributeError: 'DataFrame' object has no attribute 'timestamp_col'

In [92]:
type(concat['Date/time'])

pandas.core.series.Series

In [95]:
fIP.pivot_table(index='Date/time', columns='Source IP', aggfunc='size').rename_axis(None, axis=1)

           172.20.1.5
Date/time
00:00:05            1
00:08:35            1
00:08:48            1
00:23:35            6
00:23:48            1
00:25:37            1
00:38:35            3
00:38:48            1
00:53:35            2
00:53:48            1
00:55:37            1
01:07:02            1
01:07:05            1
01:08:35            1
01:08:48            1
01:09:07            2
01:10:25            3
01:10:26            2
01:10:28           15
01:10:40            1
01:10:53            1
01:12:00            1
01:12:27            3
01:12:29            2
01:23:35            1
01:23:48            1
01:38:36            1
01:38:48            1
01:51:03            1
01:53:05            1
...               ...
22:38:46            1
22:53:35            2
22:53:46            1
22:55:36            1
23:06:58            1
23:07:02            1
23:08:35            1
23:08:47            1
23:09:03            2
23:09:53           17
23:11:54            3
23:23:35            1
23:23:47            1
23:30:21            2
23:30:22            2
23:30:24            9
23:30:25            1
23:30:36            1
23:30:57            1
23:31:56            1
23:32:24            2
23:32:26            1
23:38:35            1
23:38:47            1
23:39:43            1
23:41:45            1
23:53:35            2
23:53:48            1
23:55:36            1
23:58:03            1

[441 rows x 1 columns]

In [109]:
fIP['Date/time'] = pd.to_datetime(fIP['Date/time'], errors='coerce').dt.time

In [117]:
fIP = concat[['Date/time','Source IP']][concat['Source IP'] == '172.20.1.5']

In [121]:
concat['Date/time']=pd.to_datetime(concat['Date/time'])

In [122]:
concat.pivot_table(index=pd.Grouper(freq='H', key='Date/time'),columns='Source IP')

                    Connections built                              \
Source IP                     (empty) 10.200.150.2 10.200.150.201
Date/time
2011-04-13 08:00:00          0.478814     0.333333            NaN
2011-04-13 09:00:00          0.469044     0.363636            NaN
2011-04-13 10:00:00          0.486111     0.323077            NaN
2011-04-13 11:00:00          0.498044     0.363636       0.563880
2011-04-13 12:00:00          0.503505     0.315789       0.567114
2011-04-13 13:00:00          0.499432     0.425532            NaN
2011-04-13 14:00:00          0.498143     0.206349            NaN
2011-04-13 15:00:00          0.499117     0.304348            NaN
2011-04-13 16:00:00          0.498592     0.360000       0.333333
2011-04-13 17:00:00          0.499416     0.324324            NaN
2011-04-13 18:00:00          0.498632     0.461538            NaN
2011-04-13 19:00:00          0.499415     0.285714            NaN
2011-04-13 20:00:00          0.498368     0.363636            NaN
2011-04-13 21:00:00          0.499068     0.314286            NaN
2011-04-13 22:00:00          0.498686     0.343750            NaN
2011-04-13 23:00:00          0.499090     0.314286            NaN
2011-04-14 00:00:00          0.498542     0.345455            NaN
2011-04-14 01:00:00          0.499097     0.314286            NaN
2011-04-14 02:00:00          0.498804     0.363636            NaN
2011-04-14 03:00:00          0.499089     0.323944            NaN
2011-04-14 04:00:00          0.498671     0.363636            NaN
2011-04-14 05:00:00          0.499098     0.325581            NaN
2011-04-14 06:00:00          0.498896     0.360000            NaN
2011-04-14 07:00:00          0.495976     0.315789            NaN

                                                                  \
Source IP           10.200.150.206 10.200.150.207 10.200.150.208
Date/time
2011-04-13 08:00:00            NaN            NaN            NaN
2011-04-13 09:00:00            NaN            NaN            NaN
2011-04-13 10:00:00            NaN            NaN            NaN
2011-04-13 11:00:00       0.532024       0.529798       0.524792
2011-04-13 12:00:00       0.539974       0.531297       0.521714
2011-04-13 13:00:00            NaN            NaN            NaN
2011-04-13 14:00:00            NaN            NaN            NaN
2011-04-13 15:00:00            NaN            NaN            NaN
2011-04-13 16:00:00            NaN            NaN            NaN
2011-04-13 17:00:00            NaN            NaN            NaN
2011-04-13 18:00:00            NaN            NaN            NaN
2011-04-13 19:00:00            NaN            NaN            NaN
2011-04-13 20:00:00            NaN            NaN            NaN
2011-04-13 21:00:00            NaN            NaN            NaN
2011-04-13 22:00:00            NaN            NaN            NaN
2011-04-13 23:00:00            NaN            NaN            NaN
2011-04-14 00:00:00            NaN            NaN            NaN
2011-04-14 01:00:00            NaN            NaN            NaN
2011-04-14 02:00:00            NaN            NaN            NaN
2011-04-14 03:00:00            NaN            NaN            NaN
2011-04-14 04:00:00            NaN            NaN            NaN
2011-04-14 05:00:00            NaN            NaN            NaN
2011-04-14 06:00:00            NaN            NaN            NaN
2011-04-14 07:00:00            NaN            NaN            NaN

                                                                        ...  \
Source IP           10.200.150.209 172.20.1.5 192.168.1.1 192.168.1.14  ...
Date/time                                                               ...
2011-04-13 08:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 09:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 10:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 11:00:00       0.524092   0.513514         1.0          0.0  ...
2011-04-13 12:00:00       0.544151   0.473684         1.0          0.0  ...
2011-04-13 13:00:00            NaN   0.506329         1.0          0.0  ...
2011-04-13 14:00:00            NaN   0.515152         1.0          0.0  ...
2011-04-13 15:00:00            NaN   0.444444         1.0          0.0  ...
2011-04-13 16:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 17:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 18:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 19:00:00            NaN   0.512821         1.0          0.0  ...
2011-04-13 20:00:00            NaN   0.466667         1.0          0.0  ...
2011-04-13 21:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 22:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-13 23:00:00            NaN   0.508772         1.0          0.0  ...
2011-04-14 00:00:00            NaN   0.473684         1.0          0.0  ...
2011-04-14 01:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-14 02:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-14 03:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-14 04:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-14 05:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-14 06:00:00            NaN   0.500000         1.0          0.0  ...
2011-04-14 07:00:00            NaN   0.529412         1.0          0.0  ...

                    Connections torn down                            \
Source IP                    192.168.2.91 192.168.2.92 192.168.2.93
Date/time
2011-04-13 08:00:00                   NaN     0.692308     0.500000
2011-04-13 09:00:00              0.513889     0.506410     0.520833
2011-04-13 10:00:00              0.363636     0.425000     0.383333
2011-04-13 11:00:00              0.512821     0.529412     0.571429
2011-04-13 12:00:00              0.412698     0.396552     0.384615
2011-04-13 13:00:00              0.520833     0.526882     0.560606
2011-04-13 14:00:00              0.333333     0.430108     0.340000
2011-04-13 15:00:00              0.410959     0.363636     0.415584
2011-04-13 16:00:00              0.527778     0.521739     0.520833
2011-04-13 17:00:00              0.456250     0.451613     0.450331
2011-04-13 18:00:00              0.519608     0.530864     0.542373
2011-04-13 19:00:00              0.406250     0.406250     0.421053
2011-04-13 20:00:00              0.505882     0.516129     0.527778
2011-04-13 21:00:00              0.351351     0.380000     0.400000
2011-04-13 22:00:00              0.518519     0.513889     0.519231
2011-04-13 23:00:00              0.369565     0.403226     0.388889
2011-04-14 00:00:00              0.510204     0.511628     0.513889
2011-04-14 01:00:00              0.432432     0.435294     0.440000
2011-04-14 02:00:00              0.515152     0.538462     0.511905
2011-04-14 03:00:00              0.453333     0.436170     0.388889
2011-04-14 04:00:00              0.538462     0.523810     0.518519
2011-04-14 05:00:00              0.440000     0.384615     0.418919
2011-04-14 06:00:00              0.583333     0.492958     0.550000
2011-04-14 07:00:00              0.487696     0.485411     0.484716

                                                                         \
Source IP           192.168.2.94 192.168.2.95 192.168.2.96 192.168.2.97
Date/time
2011-04-13 08:00:00     0.500000     0.503401     0.500000     0.508621
2011-04-13 09:00:00     0.477778     0.496781     0.504132     0.501340
2011-04-13 10:00:00     0.533333     0.522388     0.428571     0.421053
2011-04-13 11:00:00     0.411765     0.464000     0.583333     0.515625
2011-04-13 12:00:00     0.531250     0.494737     0.423077     0.430380
2011-04-13 13:00:00     0.466667     0.457944     0.439024     0.517241
2011-04-13 14:00:00     0.302326     0.405797     0.492958     0.416667
2011-04-13 15:00:00     0.520833     0.500000     0.545455     0.375000
2011-04-13 16:00:00     0.380000     0.504950     0.456790     0.516667
2011-04-13 17:00:00     0.496644     0.464516     0.490909     0.441860
2011-04-13 18:00:00     0.523077     0.557692     0.527778     0.536232
2011-04-13 19:00:00     0.363636     0.400000     0.400000     0.421053
2011-04-13 20:00:00     0.520833     0.529412     0.531250     0.526316
2011-04-13 21:00:00     0.380000     0.426829     0.437500     0.414286
2011-04-13 22:00:00     0.512195     0.520000     0.545455     0.454545
2011-04-13 23:00:00     0.388889     0.440000     0.436170     0.471264
2011-04-14 00:00:00     0.535714     0.510000     0.513158     0.533333
2011-04-14 01:00:00     0.400000     0.384615     0.463415     0.388889
2011-04-14 02:00:00     0.533333     0.517857     0.515152     0.531250
2011-04-14 03:00:00     0.436170     0.430233     0.406250     0.424658
2011-04-14 04:00:00     0.571429     0.522727     0.520833     0.510204
2011-04-14 05:00:00     0.416667     0.406250     0.350000     0.444444
2011-04-14 06:00:00     0.525000     0.529412     0.514706     0.527778
2011-04-14 07:00:00     0.483721     0.483516     0.484615     0.483092


Source IP           192.168.2.98 192.168.2.99 192.168.7.151
Date/time
2011-04-13 08:00:00     0.500000     0.520000           NaN
2011-04-13 09:00:00     0.502326     0.453271           NaN
2011-04-13 10:00:00     0.434783     0.512821           NaN
2011-04-13 11:00:00     0.541667     0.433962           NaN
2011-04-13 12:00:00     0.393443     0.555556           NaN
2011-04-13 13:00:00     0.523810     0.467532           0.0
2011-04-13 14:00:00     0.452830     0.439024           0.0
2011-04-13 15:00:00     0.355556     0.415584           NaN
2011-04-13 16:00:00     0.520833     0.533333           NaN
2011-04-13 17:00:00     0.440945     0.440559           NaN
2011-04-13 18:00:00     0.532468     0.543210           NaN
2011-04-13 19:00:00     0.442308     0.377358           NaN
2011-04-13 20:00:00     0.562500     0.505495           NaN
2011-04-13 21:00:00     0.430233     0.424242           NaN
2011-04-13 22:00:00     0.562500     0.500000           NaN
2011-04-13 23:00:00     0.425000     0.447917           NaN
2011-04-14 00:00:00     0.555556     0.508333           NaN
2011-04-14 01:00:00     0.442308     0.443396           NaN
2011-04-14 02:00:00     0.516667     0.507812           NaN
2011-04-14 03:00:00     0.388889     0.456693           NaN
2011-04-14 04:00:00     0.511905     0.500000           NaN
2011-04-14 05:00:00     0.375000     0.440678           NaN
2011-04-14 06:00:00     0.517857     0.527778           NaN
2011-04-14 07:00:00     0.484848     0.484848           NaN

[24 rows x 332 columns]

In [125]:
v = concat.pivot_table(
        index=['Source IP', 'Destination port'], 
         columns='Date/time', 
         values='Source port'
).reset_index()
v.index.name = v.columns.name = None

DataError: No numeric types to aggregate